*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
}


/* classi utility */

.d-flex{
  display: flex;
}

/* navbar */

nav img{
  height: 50px;
}

nav a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar_left{
  width: 20%;
  align-items: center;
}

.navbar_left a:nth-child(2){
  margin: 0 20px;
}